.bg-color{
    background-color: #F0FFF0;
}
.btn{
    border-radius: 20px;  
}
.header{
    margin-bottom: 30px;
}
.schoolManagement{
    margin-bottom: 55px;
}
.video{
    margin-top: 50px;
    margin-bottom: 60px;
    
}
.slider-text{
    padding-left: 30px;
}
.slider-heading{
    font-size: 36px;
    font-weight: 700;
    color: #f17777;
}
.slider-description{
    width: 80%;
    margin: 40px 0;
    text-align: justify;
    color: rgb(74, 194, 168);
}
.carousel-indicators li{
    height: 8px;
    border-radius: 12px;
    background-color: gray;
    
}
.checked {
    color: orange;
  }
  .footer{
 margin-top: 60px;
  }
  .ratingColor{
    color: #f17777;
  }
  .single-box {

	width: 100%;
    height: 100%;
    background-size: cover;
	overflow: hidden;
}
.single-box h3 {
	position: absolute;
	display: block;
    text-align: center;
    font-weight: 900;
	animation: animate 10s linear infinite;
	bottom: -200px;
}
.single-box h3:nth-child(1) {
	left: 86%;
    animation-delay: 0s;
    animation-duration: 4s;
}
.single-box h3:nth-child(2) {
	left: 12%;
	animation-delay: 0s;
	animation-duration: 6s;

}
.single-box h3:nth-child(3) {
	left: 29%;
	animation-delay: 1s;
	animation-duration: 4s;
}
.single-box h3:nth-child(4) {
	left: 42%;
	animation-delay: 0s;
	animation-duration: 6s;
}
.single-box h3:nth-child(5) {
	left: 65%;
	animation-delay: 0s;
	animation-duration: 4s;
}
.single-box h3:nth-child(6) {
	left: 15%;
	animation-delay: 1s;
	animation-duration: 6s;
}
.single-box h3:nth-child(7) {
	left: 75%;
	animation-delay: 2s;
	animation-duration: 4s;
	
}
.single-box h3:nth-child(8) {
	left: 66%;
	animation-delay: 1s;
	animation-duration: 6s;
}
.single-box h3:nth-child(9) {
	left: 25%;
	animation-delay: 0s;
	animation-duration: 4s;

}
.single-box h3:nth-child(10) {
	left: 40%;
	animation-delay: 2s;
	animation-duration: 6s;
}
.single-box h3:nth-child(11) {
	left: 52%;
	animation-delay: 0s;
	animation-duration: 4s;
}
.single-box h3:nth-child(12) {
	left: 1%;
	animation-delay: 1s;
	animation-duration: 6s;
}
.single-box h3:nth-child(13) {
	left: 18%;
	animation-delay: 0s;
	animation-duration: 4s;
}
.single-box h3:nth-child(14) {
	left: 85%;
	animation-delay: 2s;
	animation-duration: 6s;
	
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}

#clientSec{
	margin-top: 100px;
	margin-bottom: 15px;
    
}
#client-heading{
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 25px;
    border-bottom: 3px solid grey;
    padding: 30px 0;
}
.img-client{
    width: 150px;
    margin: 0 auto;
    padding: 30px 0;
}
#mkt{
    padding-top: 40px;
}
#cisco{
    width: 115px;
}
#linux{
    padding-top: 40px;
}
#vmware{
    width: 180px;
}


